{% extends "blog/base.html" %}
{% block content %}

<style>
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 blog-main">
            {% for post in post_list %}
            <div class="blog-post">
                <a href="{% url 'post_detail' post.slug  %}">
                    <h2 class="blog-post-title">{{ post.title }}</h2>
                </a>
                <p class="blog-post-meta">{{ post.created_on }} | {{ post.author}} </p>
                <p>{{post.content|slice:":200" }}</p>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %}
        {% include 'blog/sidebar.html' %}
        {% endblock sidebar %}
    </div>
</div>
{%endblock%}