{% extends 'blog/base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h1 class="blog-post-title">{% block title %} {{ object.title }} {% endblock title %}</h1>
                <p class="blog-post-meta">{{ post.created_on }} | {{ post.author}} </p>
                <p>{{ object.content | safe }}</p>
            </div>
        </div>
        {% block sidebar %}
        {% include 'blog/sidebar.html' %}
        {% endblock sidebar %}
    </div>
</div>

{% endblock content %}